# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*

# Build
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Lock opcional (si usas workspaces, sí lo mantienes)
